[submodule "common/Vitis_Libraries"]
	path = common/Vitis_Libraries
	url = https://bgithub.xyz/Xilinx/Vitis_Libraries.git
[submodule "kd240/platforms/ip/one_wire"]
	path = kd240/platforms/ip/one_wire
	url = https://bgithub.xyz/Xilinx/axi_1wire_host-IP.git
